* {
  cursor: filter: drop-shadow(100px 100px 50px blue);
}

div.main {
  margin: auto;
  padding: 10px;
	padding-top: 8%;
	text-align: center;
	width: 55%;
}

.title {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: left !important;
  font-size: 20px;
  font-weight: 600;
}

.section {
  background-color: #2d2b2f;
  max-width: 45%;
  height: 100%;
  padding: 10px 8px;
  border-radius: 25px;
  inline: block;
  float: left;
  margin: 10px;
}

a.no_show {
  outline: none;
  text-decoration: none;
  color: white;
}

p.desc {
  color: rgba(255, 255, 255, 0.80);
  text-align: left !important;
  font-size: 15.7px;
  font-weight: lighter;
}

.section {
  transition: 0.5s ease-out;
  filter: brightness(100%);

}

.section:hover {
  transition: 0.5s ease-out;
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 200px black);
}

p.tags {
  border: 0px solid white;
  border-radius: 25px;
  padding: 5px 0px;
  min-width: 25%;
  background-color: #181818;
  color: white;
  inline: block;
  text-align: center;
  margin-right: 6px;
  float: left;
  font-size: auto;
}

/*.view:hover {
    font-size: 0;
}
.view:hover:after {
    content: "View Project";
    font-size: 16px;
    cursor: pointer;
}
/*
