body {
	background: rgba(0,0,0,0.25) url('/plus.png') repeat 0 0;
	-webkit-animation: 1s linear 0s normal none infinite animate;
    -moz-animation: 1s linear 0s normal none infinite animate;
    -ms-animation: 1s linear 0s normal none infinite animate;
    -o-animation: 1s linear 0s normal none infinite animate;
    animation: 1s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 500px;}
}
 
@-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 490px 490px;}
}
 
@-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 490px 490px;}
}
 
@-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 490px 490px;}
}
 
@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 490px 490px;}
}
