h1{
    font-family: Consolas; 
    font-size: 16px;
    color:  #00FF42;
    font-weight: 100;
    text-align: center;
    position: relative;
    padding-top: 25%;
}
body {
    background-color: black;
}

#continue {
    padding-top: 5px;
}

#back {
    padding-top: 5px;
}

/*** Works on common browsers ***/
::selection {
    background-color: #ffffff;
    color: #E939F3;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #ffffff;
    color: #E939F3;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}

::-ms-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}
