@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #214b8f;
    --off-color: #FF6633;
    --main-font: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: url(imgs/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(21, 40, 74, 1);
    height: 1500px;
}

.main-text {
    color: white;
    font-family: var(--main-font);
    font-size: 64px;
    text-align: center;
    margin-top: 12% !important;
}

.main-btn {
    text-decoration: none;
    color: white;
    font-family: var(--main-font);
    background-color: none;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    padding: 10px;
    border: 2.5px white solid;
    font-size: 20px;
    margin-top: 8% !important;
    transition: ease-in .2s;
}

.main-btn:hover {
    transition: ease-in .2s;
    background-color: white;
    color: black;
    transform: translate(0px, -5px);
    -moz-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-txt {
    color: white;
    font-family: var(--main-font);
    margin-top: 20%;
    padding-top: 3%
}

.text {
    color: white;
    font-family: var(--main-font);
}

.some-text {
    text-align: left;
    font-size: 17px;
}

.container {
    padding: 0 10px;
}
