h1{
    font-family: Consolas; 
    font-size: 16px;
    color:  #16C60C;
    font-weight: 100;
    text-align: center;
    position: relative;
    padding-top: 25%;
}
body {
    background-color: #0c0c0c;
}

/*** Works on common browsers ***/
::selection {
    background-color: #ffffff;
    color: #E939F3;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #ffffff;
    color: #E939F3;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}

::-ms-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #F3F3F3;
    color: #E939F3;
}

a {
    font-family: Consolas; 
    font-size: 16px;
    color:  #00FF42;
    font-weight: 100;
}

a:hover {
    text-decoration: none;
}

span {
    border-right: 8px solid;
    animation: caret 1s steps(1) infinite;
    color: #ffffff;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
