body {
	background-color: #202020;
}

#build {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	text-align: center;
	padding-top: 25%;

}

.bold {
	color: #2bc770; !important
}
