body {
	background: rgba(0, 0, 0, 0.90) url(background.png) no-repeat 0 0;
	background-size: cover;
	background-blend-mode: darken;
	background-attachment: fixed;
	padding: 10px;
	margin: 0px;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

::selection {
  background-color: #6da860;
	color: white;
}

@keyframes fadeInAnimation {
		0% {opacity: 0;} 100% {opacity: 1;}
}

.nav {
	float: left;
	padding-right: 20px;
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	outline: none;
}

a.left {
	font-family: 'Raleway', sans-serif;
  position: relative;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.25s;
}

a.left:hover {
	color: #6da860
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3.5px;
  bottom: 0;
  left: 0;
  background-color: white;
	color: #6da860;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

a.left:hover:before {
	color: #6da860;
  visibility: visible;
  width: 100%;
}

span {
	color: #6da860;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white;
	font-align: center;
}

#main {
	margin: auto;
  padding: 10px;
	padding-top: 12.5%;
	text-align: center;
	width: 55%;
}

p {
	color: white;
}

#bigger-size {
	font-size: 20px;
	text-align: left;
}

#extra {
	text-align: center;
	font-size: 45px;
}

#div_links {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 30px;
	padding: 6px 15px;
	border: 2.5px solid #6da860;
	color: white;
	transition: 0.12s ease-out;
	border-radius: 1.2vh;
}

#div_links:hover {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 30px;
	padding: 6px 15px;
	transition: 0.12s ease-out;
	transform: translate(2.5px, -5px);
	border: 2.5px solid #6da860;
	border-radius: 1vh;
	background-color: #6da860;
	color: black;
}

a#div_links {
	margin-left: 50px;
}

.div_links {
	font-family: 'Raleway', sans-serif;
	position: relative;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.div_links:hover {
	font-family: 'Raleway', sans-serif;
	position: relative;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
